extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Moses Finlay
        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | My name is Moses Finlay, I am a thirteen year old studen learning Full Stack Javascript on Treehouse.
            | I have been learning to code for the last 2 years.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li AJAX
          li Git
          li GitHub
          li NPM
          li Node.js
          li Express
          li Heroku
        h6 Contact Info

        //- Add your own contact info
        ul
          li islandmoses@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href="https://github.com/mosesfinlay") GitHub
        a.button.expanded(href="https://twitter.com/mosesfinlay") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
